* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

.contenedor {
	position: relative;
	width: 100%;
	height: auto;
	margin: auto; 
}

header{
    height: 120px;
    position: relative;
    margin: 2px auto;
}

nav {
    height: 48px;
    position: relative;
}

.fila {
	position: relative;
	width: 100%;
	margin: auto;
	clear: both; /* limpia las filas y mantiene las cajas*/
	display: table; /*respta las cajas faltantes, evita que se mueva un contenido a las cajas faltantes */
}

[class*="col-"] {
	float: left;
	padding: 20px;
}

.col-12 {
	width: 100%;
}

.col-3 {
	width: 25%;
}

img {
    width: 100%;
    max-height: 120px;
}
  
.botones {
    background: #888;
    color: white;
    text-align: center;
}
